---
title: Новогодняя ASCII-ёлочка!
date: 2017-12-31 22:09:51
---
<style>
.christmas-tree {
  font-family: monospace;
  display: flex;
  justify-content: center;
}
.christmas-tree__content {
  display: inline-block;
  padding: 1em;
  white-space: pre;
  line-height: 1;
  font-weight: bold;
  text-decoration: underline;
}
</style>

<div class="christmas-tree">
  <span class="christmas-tree__content">1111111111HAPPY_NEW_YEAR!11111111
111111111111111111111111111111111
111111111111111101111111111111111
111111111111111000111111111111111
1111111111111100X0011111111111111
111111111111100000001111111111111
11111111111100X000X00111111111111
111111111111110000011111111111111
1111111111111000X0001111111111111
111111111111000000000111111111111
11111111111000X000X00011111111111
111111111100000000000001111111111
111111111000X0000000X000111111111
111111110000000000000000011111111
1111111111110000X0000111111111111
111111111110000000000011111111111
1111111111000X00000X0001111111111
1111111110000000X0000000111111111
111111110000000000000000001111111
111111100000X0000000X000001111111
111111000000000000000000000111111
111110000X000000X000000X000011111
111100000000000000000000000001111
111111111111110000011111111111111
111111111111110000011111111111111
111111111111110000011111111111111</span>
</div>

<!--
  -- С НОВЫМ 2018 ГОДОМ!!!
  -- -------------------------------------
  -- Здоровья, счастья и новых умений!
  -- Цените что имеете сейчас, ни секунды
  -- не сомневайтесь в том, что вы делаете 
  -- -------------------------------------
  -- для друзей от x-doggy
  -->

<script>
var ctree = document.querySelector(".christmas-tree__content");

function genRandomColor() {
  var letters = "0123456789ABCDEF";
  var color = "#";
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function toBlinkTree() {
  ctree.style.color = genRandomColor();
  ctree.style.backgroundColor = genRandomColor();  
};

setInterval(toBlinkTree, 1500);
</script>
