---
title: Весёлые хомячки!!!
date: 2018-01-06 20:53:18
---

<style>
  .b-wrap {
    padding: 20px 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #fff;
  }
  .b-wrap * {
  }
  .b-wrap img {
    border: none;
    box-shadow: none;
    vertical-align: bottom;
    width: auto;
  }
  .heading_1,
  .heading_2,
  .lyrics {
    color: #000 !important;
    font-weight: bold;
  }
  .heading_2,
  .lyrics {
    font-size: 150%;
  }
  .heading_1 {
    font-size: 130%;
  }
  .lyrics {
    color: #f90;
    line-height: 145%;
  }
</style>

<div class="b-wrap">
    <audio src="/img/for_pages/titi.wav" loop autoplay>
      <source src="/img/for_pages/titi.wav" type="audio/wav">
      <object data="/img/for_pages/titi.wav" type="audio/wav" id="titi_music">
        <param name="movie" value="/img/for_pages/titi.wav">
        <param name="loop" value="true">
        <param name="play" value="true">
        <embed src="/img/for_pages/titi.wav" type="audio/wav" autostart="true" loop="true" play="true"></embed>
        <!--[if lte IE 8]><bgsound balance="0" src="/img/for_pages/titi.wav" volume="0" loop="infinite"></bgsound><![endif]-->
      </object>
    </audio><hgroup>
        <h2 class="heading_1">ВНИМАНИЕ! СТРАНИЦУ НУЖНО СМОТРЕТЬ СО ЗВУКОМ!!! (ИНАЧЕ НЕ ПРИКОЛЬНО&nbsp;&mdash; дождись загрузки! :-)</h2>
        <h2 class="heading_2">Находишься ли ты под стрессом? Нервирует тебя твой коллега или твой шеф раздражает и утомляет тебя, ты наверняка нуждаешься в небольшой паузе, чтобы расслабиться. Включи колонки на всю катушку. Встань на колени и двигайся вверх и вниз в компании веселых хомячков.</h2>
    </hgroup><figure style="text-align: center;">
        <img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!"><img
             src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!"><img
             src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!"><img
             src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!">
    </figure><p class="heading_1">Пойте беспрерывно с любовью эту веселую песенку 20 минут:</p>
    <p class="lyrics">&laquo;ТИТА ТИТА ТИ ТУТУ ТИТА ТИРИ ТОМ,<img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!">ТИРУ ТУТУ ТУРУ ТУТУТУ ТУТИТУТУУУ<img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!">ТУТУТИТУТУУУ,<img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!">ТУТЮ ТУРУТЮЮМММММ!!!<img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!"><img src="/img/for_pages/leming.gif" alt="ХОМЯКИ!!!">&raquo;</p>
    <footer class="heading_2">Тебе дружок стало хорошо? Да?? Тогда отправь эту ссылку другу и добавь в избранное!!!</footer>
</div>
