<%
if(type === 'categories' || type === 'tags'){ %>
<div class="tabs-bar container">
    <nav class="tags-list">
        <a href="<%= url_for('/' + type) %>" style="-webkit-order:-1;order:-1" class="tags-list-item waves-effect waves-button waves-light
            <% if(path === type + '/index.html'){%> active<%}%>">All</a>
        <%
            var options = [];

            (type === 'tags' ? site.tags : site.categories).each(function(o) {
                if(o.posts.length) {
                    options.push(o)
                }
            })

            var index = _.findIndex(options, function(o) {
                return is_current(o.path)
            })
            var len = options.length
            var order = 0
            options.forEach(function(tag, i){

                if(index <= 1) {
                    order = i
                } else {

                    if( i < index - 1) {
                        order = len - (index - 1) + i
                    } else {
                        order = i - (index - 1)
                    }
                }

            %>

            <a href="<%- url_for(tag.path) %>" style="-webkit-order:<%= order%>;order:<%= order%>" class="tags-list-item waves-effect waves-button waves-light<% if(is_current(tag.path)){%> active<%}%>"><%-tag.name%></a>

        <% }) %>
    </nav>
    <!-- PC show more-->
    <div class="tags-list-more">
        <a href="javascript:;" onclick="BLOG.tabBar(this)" class="action tags-list-item waves-effect waves-circle waves-light"><i class="icon icon-ellipsis-h"></i></a>
    </div>
</div>
<% } %>
