<% if (theme.visit_counter) { %>
<span id="busuanzi_container_page_pv" title="Total Reading" style='display:none'>
    <i class="icon icon-eye icon-pr"></i><span id="busuanzi_value_page_pv"></span>
</span>
<% } %>
