---
title: Поиск по фильмам
date: 2019-11-24 19:42:15
---

<style>
.yaRoot {
  background-color: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  line-height: 1.4;
  color: #737373;
  font-size: 20px;
}

.yaBody {
  padding: 10px 20px 50px;
  background-color: #fcfcfc;
  margin: auto;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
}

.yaLinks {
  position: relative;
  top: 7px;
}

.yaLink {
  color: #4183C4;
  text-decoration: none;
  border-bottom: 1px solid;
}

.yaLink:hover {
  color: #C48341;
}

.yaTitle {
  margin: 0 0 20px;
  padding: 0;
  font: bold 30px Helvetica, Arial, sans-serif;
  text-align: center;
}

#yaText,
#yaGo {
  border: 1px solid #bbb;
  font-size: 16px;
  line-height: normal;
  vertical-align: top;
  color: #444;
  border-radius: 2px;
}

#yaText {
  width: 100%;
  height: 32px;
  padding: 5px;
  margin: 5px 10px 0 0;
  box-shadow: inset 0 1px 1px #ccc;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
}

#yaGo {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  margin: 5px 0 0;
  white-space: nowrap;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#yaText:focus,
#yaText:hover {
  border-color: #105cb6;
  outline: 0;
  color: #222;
}

#yaGo:focus,
#yaGo:hover {
  border-color: #aaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
</style>

<form action="https://yandex.ru/search" id="yaVideo" class="yaBody">
  <h1 class="yaTitle">Поиск по фильмам</h1>
  <div class="yaLinks">
    <p>Выберите фильм на
      <a class="yaLink" href="https://www.kinopoisk.ru/" target="_blank" id="yaIvi">КиноПоиске</a>,</p>
  </div>
  <div class="query">
    <label for="text">И введите название фильма сюда: </label>
    <input name="text" id="yaText">
    <input type="button" id="yaGo" value="Искать!"></input>
  </div>
</form>

<script>
  var frm = document.getElementById("yaVideo");
  var inp_text = document.getElementById("yaText");
  var btnGo = document.getElementById("yaGo");
  var ivi = document.getElementById("yaIvi");

  btnGo.onclick = function () {
    inp_text.value += " фильм смотреть онлайн в хорошем качестве бесплатно";
    var elem = document.createElement("input");
    elem.type = "submit";
    elem.value = "Go";
    elem.style.visibility = "hidden";
    frm.appendChild(elem);
    elem.click();
  };

  ivi.onclick = function () {
    inp_text.focus();
  };
</script>
