<header id="header">
  <a href="<%- url_for("/") %>" id="logo-container">
  <% if (theme.logo && theme.logo.enabled) { %>
    <% if (theme.gravatar && theme.gravatar.email && theme.logo.gravatar) { %>
      <div id="logo" style="background-image: url(<%- gravatar(theme.gravatar.email) %>);"></div>
    <% } else { %>
      <div id="logo" style="background-image: url(<%- url_for(theme.logo.url) %>);"></div>
    <% } %>
  <% } %>
    <div id="title">
      <h1><%= config.title %></h1>
      <h2 id="header-subtitle"><%= config.subtitle %></h2>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %>
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
      <% } %>
    </ul>
  </div>
</header>
