<% if(theme.show_last_updated){ %>
<span class="post-time">
    Last updated: <time datetime="<%- date_xml(post.updated) %>" itemprop="dateUpdated"><%- post.updated.format('D.M.YYYY H:mm') %></time>
</span><br>
<%} %>
